<app-header></app-header>

<app-navbar></app-navbar>

<section class="animalsList my-4">
    <div class="container">
        @if(successMessage) {
            <div class="alert alert-success mb-4">
                {{ successMessage }}
            </div>
        }
        <h1 class="mb-4">Mes animaux</h1>

        <!-- Liste des animaux de l'eleveur -->
         @for (breederAnimal of breederAnimals; track breederAnimal.id) {

            <div class="row mb-4">
                <div class="col-6">
                    <img [routerLink]="(['/animals/', breederAnimal.id])" src="images/animal_home.jpg" alt="Photo de l'animal" class="animal-img rounded-10">
                </div>
                
                <div class="col-6">
                    <h2 class="mb-4">{{ breederAnimal.nom }} &nbsp; <i class="fa-solid" [ngClass]="breederAnimal.sexe === 'Mâle' ? 'fa-mars' : 'fa-venus'"></i></h2>
                    <p><i class="fa-solid fa-cake-candles"></i>&nbsp; {{ breederAnimal.dateDeNaissance }}</p>
                    <p><i class="fa-solid fa-paw"></i>&nbsp; {{ breederAnimal.race.nom }}</p>
                    <div class="d-flex align-items-center gap-2">
                        <div class="nb-like d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-solid fa-heart text-light" style="font-size: 10px;"></i>
                        </div>
                        <p class="m-0"><strong>{{ countLikes(breederAnimal.swipes) }}</strong></p>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
