<app-header></app-header>

<section class="animalsList my-4">
    <div class="container">
        @if(successMessage) {
            <div class="alert alert-success mb-4">
                {{ successMessage }}
            </div>
        }
        <h1 class="mb-4">Mes animaux</h1>

        <!-- Liste des animaux de l'eleveur -->
        <div class="row mb-4">
            <div class="col-6">
                <img src="images/animal_home.jpg" class="animal-img rounded-10" alt="">
            </div>
            <div class="col-6">
                <h2 class="mb-4">Miso &nbsp;<i class="fa-solid fa-venus"></i></h2>
                <p><i class="fa-solid fa-cake-candles"></i>&nbsp; 01/01/2025</p>
                <p><i class="fa-solid fa-paw"></i>&nbsp; Husky</p>
                <div class="d-flex align-items-center gap-2">
                    <div class="nb-like d-flex justify-content-center align-items-center rounded-circle">
                        <i class="fa-solid fa-heart text-light" style="font-size: 10px;"></i>
                    </div>
                    <p class="m-0"><strong>10</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="images/animal_paysage.jpg" class="animal-img rounded-10" alt="">
            </div>
            <div class="col-6">
                <h2 class="mb-4">Miso &nbsp;<i class="fa-solid fa-venus"></i></h2>
                <p><i class="fa-solid fa-cake-candles"></i>&nbsp; 01/01/2025</p>
                <p><i class="fa-solid fa-paw"></i>&nbsp; Husky</p>
                <div class="d-flex align-items-center gap-2">
                    <div class="nb-like d-flex justify-content-center align-items-center rounded-circle">
                        <i class="fa-solid fa-heart text-light" style="font-size: 10px;"></i>
                    </div>
                    <p class="m-0"><strong>10</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
