<app-header></app-header>

<app-navbar></app-navbar>

<!-- Fleche retour -->
<div class="container my-4">
    <div class="row">
        <a (click)="goBack()" class="text-dark" style="cursor: pointer;"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
    </div>
</div>

<section class="info-generales mb-5">
    <div class="container">
        <div class="row">
            <h1>{{ breeder.nomElevageAssociation }}</h1>
            <div class="col-6">
                <p><i class="fa-solid fa-location-dot color-blue"></i>&nbsp; {{ breeder.adresse }}</p>
            </div>
            <div class="col-6">
                <img [src]="breeder.photoProfil ? (environment.uploadUrl + 'users/' + breeder.photoProfil) : 'images/profile_picture.jpg'" alt="Photo de profil" class="img-breeder_details img-fluid rounded-10">
            </div>
        </div>
    </div>
</section>

<section class="info-presentation mb-5">
    <div class="container">
        <div class="row">
            <h2>Présentation</h2>
            <div class="col-12">
                <p>{{ breeder.presentation }}</p>
            </div>
        </div>
    </div>
</section>

<section class="info-contact mb-5">
    <div class="container">
        <div class="bg-grey py-3 rounded-30 shadow">
            <div class="row">
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="contact-btn d-flex justify-content-center align-items-center bg-violet rounded-circle shadow">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <a [href]="'mailto:' + breeder.email" class="contact-btn d-flex justify-content-center align-items-center bg-lightviolet rounded-circle shadow">
                        <i class="fa-solid fa-message"></i>
                    </a>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="contact-btn d-flex justify-content-center align-items-center bg-blue rounded-circle shadow">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-animaux mb-5">
    <div class="container">
        <h2 class="mb-4">Nos animaux</h2>
        @if(breeder.animals.length == 0) {
            <h3>Aucun animal disponible.</h3>
        } @else {
            <div class="animal-scroll d-flex gap-3 overflow-auto pb-2">
                @for (animal of breeder.animals; track $index) {
                    <div class="img-container d-flex justify-content-center align-items-center">
                        <img [routerLink]="(['/animals/', animal.id])" [src]="environment.uploadUrl + 'animals/' + animal.animalImage" alt="Photo de l'animal {{animal.nom}}" class="animal-img rounded-10">
                    </div>
                }
            </div>
        }
    </div>
</section>

<section class="infos-pratiques">
    <div class="container">
        <div class="row">
            <h2 class="mb-4">Informations pratiques</h2>
            <p><strong>Horaires : </strong>{{ breeder.horaireOuverture ? breeder.horaireOuverture : 'Non renseigné' }}</p>
            <p><strong>Année de création de l'élevage : </strong>{{ breeder.anneeCreation ? breeder.anneeCreation : 'Non renseigné' }}</p>
            <p><strong>Espèces disponibles : </strong>{{ breeder.especeProposee }}</p>
            <p><strong>Lieu de l'élevage : </strong>{{ breeder.adresseElevage }}</p>
            <p><strong>Suivi Post-adoption : </strong> {{ breeder.suiviPostAdoption ? 'Oui' : 'Non' }}</p>
            <p><strong>Conditions d'adoption : </strong>{{ breeder.conditionAdoption }}</p>
        </div>
    </div>
</section>