<app-header-breeder></app-header-breeder>

<div class="container">
    <div class="row">
        <h1 class="my-4">Tableau de bord</h1>
        <div class="col-6">
            <!-- Card du nombres d'animaux -->
            <div class="nb-animaux mb-4 rounded-20 text-center shadow py-3">
                <h2 class="mb-0">32 animaux</h2>
            </div>

            <!-- Les plus appréciés -->
            <div class="plus-apprecies mb-4 rounded-20 shadow p-3">
                <div class="text-center">
                    <h2 class="mb-4">Les plus appréciés</h2>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <div>
                            <img src="images/animal_home.jpg" alt="Image de l'animal le plus appréciés" class="img-animal img-fluid rounded-circle mb-2">
                            <p>❤️10</p>
                        </div>
                        <div>
                            <img src="images/animal_home.jpg" alt="Image du deuxième animal le plus appréciés" class="img-animal img-fluid rounded-circle mb-2">
                            <p>❤️8</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="">
                        <div class="arrow-link d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-solid fa-arrow-right text-light"></i>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Les moins appréciés -->
            <div class="moins-apprecies mb-4 rounded-20 shadow p-3">
                <div class="text-center">
                    <h2 class="mb-4">Les moins appréciés</h2>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <div>
                            <img src="images/animal_home.jpg" alt="Image de l'animal le moins appréciés" class="img-animal img-fluid rounded-circle mb-2">
                            <p>❤️1</p>
                        </div>
                        <div>
                            <img src="images/animal_home.jpg" alt="Image du deuxième animal le moins appréciés" class="img-animal img-fluid rounded-circle mb-2">
                            <p>❤️2</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="">
                        <div class="arrow-link d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-solid fa-arrow-right text-light"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex flex-column justify-content-start">

            <!-- Card du nombres d'adoptions -->
            <div class="nb-adoptions mb-4 rounded-20 shadow p-3">
                <div class="text-center mb-4">
                    <h2 class="mb-3">Adoptions</h2>
                    <p class="mb-2">En cours &nbsp;&nbsp;&nbsp;<span class="adoption-icon adaption-encours text-light d-inline-flex align-items-center justify-content-center rounded-10">2</span></p>
                    <p class="mb-2">Achevées &nbsp;&nbsp;&nbsp;<span class="adoption-icon adaption-achevees text-light d-inline-flex align-items-center justify-content-center rounded-10">2</span></p>
                    <p class="mb-2">Annulées &nbsp;&nbsp;&nbsp;<span class="adoption-icon adaption-annulees text-light d-inline-flex align-items-center justify-content-center rounded-10">2</span></p>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="">
                        <div class="arrow-link d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-solid fa-arrow-right text-light"></i>
                        </div>
                    </a>
                </div>
            </div>

            <!-- 3 cards des notifs -->
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 2 nouveaux commentaires</p>
            </div>
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 2 nouvelles demandes d'adoption</p>
            </div>
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 1 rendez-vous cette semaine</p>
            </div>
        </div>

        <!-- Bouton ajouter un animal -->
        <div class="col-12">
            <a routerLink="/addAnimal/generalInformation" class="btn-ajouter-animal text-center py-3 rounded-15 d-block">Ajouter un animal</a>
        </div>
    </div>
</div>