<app-header></app-header>

<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <h1 class="my-4">Tableau de bord</h1>
        <div class="col-6">
            <!-- Card du nombres d'animaux -->
            <div class="nb-animaux mb-4 rounded-20 text-center shadow py-3">
                <h2 class="mb-0">{{ nbAnimals }} animaux</h2>
            </div>

            <!-- Les plus appréciés -->
            <div class="plus-apprecies mb-4 rounded-20 shadow p-3">
                <div class="text-center">
                    <h2 class="mb-4">Les plus appréciés</h2>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        @for(animal of topLikedAnimals; track $index) {
                        <div>
                            <img [src]="environment.uploadUrl + 'animals/' + animal.animalImage" alt="Image des animaux les plus appréciés" class="img-animal img-fluid rounded-circle mb-2">
                            <p class="p-custom">{{ animal.nom }}</p>
                            <p class="p-custom">❤️{{ animal.likes }}</p>
                        </div>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div routerLink="/breeder/animalsList"
                        class="arrow-link d-flex justify-content-center align-items-center rounded-circle">
                        <i class="fa-solid fa-arrow-right text-light"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex flex-column justify-content-start">

            <!-- Card du nombres d'adoptions -->
            <div class="nb-adoptions mb-4 rounded-20 shadow p-3 d-flex flex-column">
                <h2 class="mb-3 text-center">Adoptions</h2>
                <div class="adoptions-container mx-auto">
                    <div class="adoption-row d-flex justify-content-between align-items-center mb-2">
                        <span class="adoption-label">En cours</span>
                        <span
                            class="adoption-icon adaption-encours text-light d-flex align-items-center justify-content-center rounded-10 ms-4">
                            {{ nbAdoptionsEnCours }}
                        </span>
                    </div>

                    <div class="adoption-row d-flex justify-content-between align-items-center mb-2">
                        <span class="adoption-label">Achevées</span>
                        <span
                            class="adoption-icon adaption-achevees text-light d-flex align-items-center justify-content-center rounded-10 ms-4">
                            {{ nbAdoptionsAchevees }}
                        </span>
                    </div>

                    <div class="adoption-row d-flex justify-content-between align-items-center">
                        <span class="adoption-label">Annulées</span>
                        <span
                            class="adoption-icon adaption-annulees text-light d-flex align-items-center justify-content-center rounded-10 ms-4">
                            {{ nbAdoptionsAnnulees }}
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div routerLink="/breeder/demandeAdoption"
                        class="arrow-link d-flex justify-content-center align-items-center rounded-circle">
                        <i class="fa-solid fa-arrow-right text-light"></i>
                    </div>
                </div>
            </div>

            <!-- 3 cards des notifs -->
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 2 nouveaux commentaires</p>
            </div>
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 2 nouvelles demandes d'adoption</p>
            </div>
            <div class="notif mb-4 rounded-20 text-center shadow px-2 py-3">
                <p>Vous avez 1 rendez-vous cette semaine</p>
            </div>
        </div>

        <!-- Bouton ajouter un animal -->
        <div class="col-12">
            <a routerLink="/breeder/addAnimal/generalInformation"
                class="btn-ajouter-animal text-center py-3 rounded-15 d-block">Ajouter un animal</a>
        </div>
    </div>
</div>