<section class="login-container d-flex flex-column justify-content-center align-items-center p-4">
    <div class="conteneur">
        <h1 class="mb-5 text-center">Connexion</h1>
        <!-- Formulaire de connexion -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Message d'erreur -->
            @if(errorMessage) {
            <div class="alert alert-danger mb-4">
                {{ errorMessage }}
            </div>
            }

            @if(successMessage) {
                <div class="alert alert-success mb-4 text-center">
                    {{ successMessage }}
                </div>
            }
            <!-- Champs Email -->
            <label for="email">Email</label>
            <input id="email" formControlName="username" class="form-control"
                [class.is-invalid]="isSubmitted && loginForm.controls['username'].invalid">
            @if(isSubmitted && loginForm.controls['username'].invalid) {
                <div class="invalid-feedback">
                    <small>Ce champs est requis</small>
                </div>
            }
            <!-- Champs Mot de passe -->
            <label class="mt-3" for="password">Mot de passe</label>
            <input id="password" type="password" formControlName="password" class="form-control"
                [class.is-invalid]="isSubmitted && loginForm.controls['password'].invalid">
            @if(isSubmitted && loginForm.controls['password'].invalid) {
            <div class="invalid-feedback">
                <small>Ce champs est requis</small>
            </div>
            }
            <!-- Bouton valider -->
            <button class="btn-premier w-100 mt-5" type="submit">Se connecter</button>
        </form>

        <p class="text-center mt-4">Vous n'avez pas encore de compte ? <span routerLink="/register" class="fw-bold text-decoration-underline">Inscrivez-vous</span></p>

    </div>
</section>