<section
    class="register-container register-container-2 d-flex flex-column justify-content-center align-items-center p-4">
    <div class="conteneur">

        <div class="progress-custom mb-5 rounded">

        </div>

        <h1 class="mb-5 text-center">Informations générales</h1>
        <!-- Formulaire d'inscription, partie 2 -->
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

            <div class="row">
                <div class="col-6">
                    <!-- Prénom -->
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" class="form-control" formControlName=prenom>
                </div>
                <div class="col-6">
                    <!-- Nom -->
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control" formControlName=nom>
                </div>
            </div>

            <!-- Date de naissance -->
            <label class="mt-3" for="dateDeNaissance">Date de naissance</label>
            <input type="text" id="dateDeNaissance" class="form-control" formControlName=dateDeNaissance>

            <!-- N° de téléphone -->
            <label class="mt-3" for="numeroDeTelephone">Numéro de téléphone</label>
            <input type="text" id="numeroDeTelephone" class="form-control" formControlName=numeroDeTelephone>

            <!-- Adresse + Code postal -->
            <label class="mt-3" for="adresse">Adresse, Code postal</label>
            <input type="text" id="adresse" class="form-control" formControlName=adresse>

            <!-- Bouton suivant -->
            <div class="row justify-content-end">
                <div class="col-6">
                    <button type="submit" class="d-flex align-items-center justify-content-center btn-premier mt-5 w-100">Continuer &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>

        </form>
    </div>
</section>