<div class="container">

    <h1>Présentation</h1>
    <!-- Formulaire d'inscription, partie 3 -->
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <!-- A propos -->
        <label for="aPropos">A propos de vous</label>
        <input type="text" id="aPropos" class="form-control" formControlName=aPropos>

        <!-- Photo de profil -->
        <label for="photoProfil">Photo de profil</label>
        <input type="text" id="photoProfil" class="form-control" formControlName=photoProfil>

        <!-- Type d'animaux proposés -->
        <label for="typeAnimauxProposés">Type d'animaux proposés</label>
        <input type="text" id="typeAnimauxProposés" class="form-control" formControlName=typeAnimauxProposés>

        <!-- Bouton suivant -->
        <button type="submit" class="btn btn-primary mt-3">Suivant</button>

    </form>
</div>

