<app-header></app-header>

<app-navbar></app-navbar>

<section class="infos-generales pt-4">
    <div class="container">
        <h2 routerLink="/profil" class="mb-5 retour"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp; Mes adoptions</h2>
    
        @for (adoption of adoptions; track adoption.id) {

            <div class="row mb-4">
                <div class="col-4">
                    <img [routerLink]="(['/animals/', adoption.animal.id])" src="images/animal_home.jpg" alt="Photo de l'animal" class="img-fluid rounded-15 lien">
                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>{{ adoption.animal.nom }}</h2>
                        <span class="badge text-bg-primary">{{ adoption.status }}</span>
                    </div>
                    <p class="lien" [routerLink]="(['/breederList', adoption.animal.eleveur.id])" ><span class="typo-custom">Adoption géré par :</span> <br> {{ adoption.animal.eleveur.nomElevageAssociation }}</p>
                    <p><span class="typo-custom">Date de la demande :</span> <br> {{ adoption.dateDemande | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
        }
    
    
    </div>
</section>