<app-header></app-header>

<app-navbar></app-navbar>
<!-- Section listes des liens -->
<section class="liens py-4">
    <div class="container">
        <div class="list-group text-center">
            <a class="lien-profil list-group-item" href="">Mes informations générales</a>
            <a class="lien-profil list-group-item" href="">Mes adoptions</a>
            <a class="lien-profil list-group-item" href="">Aide et support</a>
            <a class="lien-profil list-group-item text-danger">Déconnexion</a>
        </div>
    </div>
</section>