<app-navbar></app-navbar>

<!-- Section header image avec Caroussel -->
<section class="header-img position-fixed top-0 start-0 w-100">
    <!-- Carousel -->
    <!-- <ngb-carousel [interval]="0" [showNavigationIndicators]="true" [showNavigationArrows]="true">
        <ng-template ngbSlide>
            <div class="carousel-img-wrapper d-flex justify-content-center align-items-center">
                <img src="images/animal_paysage.jpg" class="animal-img" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-img-wrapper d-flex justify-content-center align-items-center">
                <img src="images/animal_home.jpg" class="animal-img" alt="">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-img-wrapper d-flex justify-content-center align-items-center">
                <img src="images/animal_paysage2.jpg" class="animal-img" alt="">
            </div>
        </ng-template>
    </ngb-carousel> -->
    <div class="img-container d-flex justify-content-center align-items-center">
        <img [src]="environment.uploadUrl + 'animals/' + animal.animalImage" alt="Image de l'animal" class="animal-img">
    </div>

    <!-- Bouton retour -->
    <div (click)="goBack()" class="back-btn position-absolute top-0 start-0 m-3 d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
</section>

<!-- Section Information Animal : Paralax -->
<section class="animal-information p-4">
    <div class="container">

        <!-- Nom + Sexe + distance -->
        <div class="d-flex justify-content-center align-items-center gap-2">
            <h1 class="title px-3 py-1 rounded-10"> {{ animal.nom }} </h1>
            <i class="fa-solid" [ngClass]="animal.sexe === 'Mâle' ? 'fa-mars' : 'fa-venus'" style="font-size: 30px;"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="fa-solid fa-location-dot"></i> {{ animal.eleveur.adresseElevage }}
        </div>

        <!-- Infos importantes -->
        <div class="row mt-4 text-center border-custom py-4">
            <div class="col-6 mb-4">
                <i class="fa-solid fa-calendar"></i> {{ animal.dateDeNaissance }}
            </div>
            <div class="col-6 mb-4">
                <i class="fa-solid fa-paw"></i> {{ animal.race.nom }}
            </div>
            <div class="col-6">
                <i class="fa-solid fa-ruler"></i> {{ animal.taille }} cm
            </div>
            <div class="col-6">
                <i class="fa-solid fa-weight-hanging"></i> {{ animal.poids }} kg
            </div>
        </div>
        <!-- Histoire -->
        <div class="row mt-4">
            <h2>Mon histoire</h2>
            <p>{{ animal.histoire }}</p>
        </div>

        <!-- Pills -->
        <div class="row mt-4">
            <ul ngbNav #nav="ngbNav" class="nav-pills gap-2 mb-4">
                <li ngbNavItem>
                    <button ngbNavLink class="pills-button">Ma santé</button>
                    <ng-template ngbNavContent>
                        <div class="pills-content p-4">
                            <p>
                                💉 {{ animal.statutVaccination }}<br>
                                🔓 {{ animal.statutSterilisation }}<br>
                                ❤️ {{ animal.infosSante }}<br>
                            </p>
                        </div>
                    </ng-template>
                </li>

                <li ngbNavItem>
                    <button ngbNavLink class="pills-button">Ma personnalité</button>
                    <ng-template ngbNavContent>
                        <div class="pills-content p-4">
                            <p>
                                ⚡ {{ animal.niveauEnergie }}<br>
                                🛋️ {{ animal.besoinsExercice }}<br>
                                👀 {{ animal.sociabilite }}
                            </p>
                        </div>
                    </ng-template>
                </li>

                <li ngbNavItem>
                    <button ngbNavLink class="pills-button">Mon chez-moi idéal</button>
                    <ng-template ngbNavContent>
                        <div class="pills-content p-4">
                            <p>
                                🏡 {{ animal.typeLogement }}<br>
                                👫 {{ animal.familleIdeale }}<br>
                                🐕‍🦺 {{ animal.education }}
                            </p>
                        </div>
                    </ng-template>
                </li>

                <li ngbNavItem>
                    <button ngbNavLink class="pills-button">Mon alimentation</button>
                    <ng-template ngbNavContent>
                        <div class="pills-content p-4">
                            <p>
                                🍲 {{ animal.typeAlimentation }}<br>
                                @if(animal.typeAlimentationDetails){
                                    🥭 {{ animal.typeAlimentationDetails }}
                                }
                            </p>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</section>