<div class="container">

    <h1>Informations générales</h1>
    <!-- Formulaire d'inscription, partie 2 -->
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <!-- Type de compte -->
        <label for="typeCompte">Type de compte</label>
        <select id="typeCompte" class="form-select" formControlName=typeCompte>
            <option value="" disabled selected>Quel est votre type de compte ?</option>
            <option value="Éleveur">Éleveur</option>
            <option value="Association">Association</option>
        </select>

        <!-- Nom elevage / association -->
        <label for="nomElevege">Nom de l'elevage / association</label>
        <input type="text" id="nomElevege" class="form-control" formControlName=nomElevege>

        <!-- Numéro d'enregistrement -->
        <label for="numeroEnregistrement">Numéro d'enregistrement</label>
        <input type="text" id="numeroEnregistrement" class="form-control" formControlName=numeroEnregistrement>

        <!-- Bouton suivant -->
        <button type="submit" class="btn btn-primary mt-3">Suivant</button>

    </form>
</div>
