<app-header></app-header>

<app-navbar></app-navbar>

<!-- BARRE DE RECHERCHE + BOUTON FILTRE -->
<section class="pb-3 recherche">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between gap-3">
                <div class="input-group flex-grow-1">
                    <span class="input-recherche input-group-text rounded-10" id="rechercher"><i class="fas fa-search"></i></span>
                    <input type="text" class="input-recherche form-control rounded-10" aria-label="rechercher" aria-describedby="rechercher" />
                </div>
                <div class="filter-btn rounded-10 d-flex justify-content-center align-items-center flex-shrink-0">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Boutons intéractifs -->
<section class="pb-3 recherche-plus">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="w-100 py-2 bg-pink rounded-10 border-0 fw-semibold text-white">
                    <span class="btn-interactif">Derniers ajouts</span>
                </button>
            </div>
            <div class="col-6">
                <button class="w-100 py-2 bg-pink rounded-10 border-0 fw-semibold text-white">
                    <span class="btn-interactif">Les plus populaires</span>
                </button>
            </div>
        </div>
    </div>
</section>


<!-- IMAGE + INFOS -->
<section class="main">
    <div class="container d-flex flex-column align-items-center text-center">
        <img src="images/animal_home.jpg" alt="" class="img-fluid rounded-10 mb-3 animal-img">
        <h1 class="animal-nom">Nougat</h1>
        <p class="d-flex align-items-center justify-content-center gap-2">
            <span class="location-icon d-flex justify-content-center align-items-center rounded-circle">
              <i class="fa-solid fa-location-dot"></i>
            </span>
            À 2 km
          </p>
        <!-- BOUTONS -->
        <div class="d-flex justify-content-center gap-4 mt-3">
            <div class="icon-btn see-more shadow-sm">
                <i class="fa-solid fa-eye"></i>
            </div>
            <div class="icon-btn pass shadow-sm">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="icon-btn like shadow-sm">
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </div>
</section>