<app-header></app-header>

<app-navbar></app-navbar>

<!-- BARRE DE RECHERCHE + BOUTON FILTRE -->
<section class="pb-3 recherche">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between gap-3">
                <div class="input-group flex-grow-1">
                    <span class="input-recherche input-group-text rounded-10" id="rechercher"><i class="fas fa-search"></i></span>
                    <input type="text" class="input-recherche form-control rounded-10" aria-label="rechercher" aria-describedby="rechercher" />
                </div>
                <div class="filter-btn rounded-10 d-flex justify-content-center align-items-center flex-shrink-0">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image + Infos + Boutons -->
<section class="animals-list">
    @if(!isLoading) {
        <div class="container d-flex flex-column align-items-center">

            @if (animals && animals[currentIndex]) {
                <div class="animal-card-wrapper">
                    <div [routerLink]="(['/animals/', animals[currentIndex].id])" class="animal-card position-relative" [ngClass]="animationClass">

                        <img src="images/animal_home.jpg" alt="Photo de l'animal" class="rounded-20 animal-img">
                        
                        <div class="animal-carac shadow rounded-20 py-1 px-4">
                            <h1>{{ animals[currentIndex].nom }} &nbsp;
                                <i class="fa-solid" [ngClass]="animals[currentIndex].sexe === 'Mâle' ? 'fa-mars' : 'fa-venus'"></i></h1>
                            <p><i class="fa-solid fa-paw"></i>&nbsp; {{ animals[currentIndex].race.nom }}</p>
                            <p><i class="fa-solid fa-calendar"></i>&nbsp; {{ animals[currentIndex].dateDeNaissance }}</p>
                            <p><i class="fa-solid fa-location-dot"></i> {{ animals[currentIndex].eleveur.adresseElevage }}</p>
                        </div>
                    </div>
                </div>
            
                <div class="d-flex justify-content-center gap-5 mt-3">
                    <div class="icon-btn pass shadow" (click)="swipe('left')">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="icon-btn like shadow" (click)="swipe('right')">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
            } @else {
                <p>Aucun animaux disponibles</p>
            }
        </div>
    }
</section>