/* Style de base de la page */
h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
}

p {
    font-size: 14px;
    margin: 0;
}

/* Section Recherche et filtres */
.filter-btn {
    background-color: #EBEBEB;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid #7189FF;
}

.input-recherche {
    border: 1px solid #7189FF;
    height: 50px;
    background-color: #EBEBEB;
}

.filter-btn:hover {
    background-color: #ddd;
}

/* Partie image + nom + distance */
.animal-card-wrapper {
    width: 300px;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.animal-img {
    height: 50vh;
    width: 300px;
    object-fit: cover;
}

.animal-carac {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: #FEFEFE;
    background-color: #B19FFFB2;
    backdrop-filter: brightness(0.8);
}

.animal-card {
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 50vh;
    transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.6s;
}

.animal-card.swipe-left {
    transform: rotate(-20deg) translateX(-150%);
    opacity: 0;
}

.animal-card.swipe-right {
    transform: rotate(20deg) translateX(150%);
    opacity: 0;
}

/* Partie boutons choix  */
.icon-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-btn:hover {
    transform: scale(1.1);
}

.like {
    background-color: #EF9BC9;
}

.pass {
    background-color: #B6DEFF;
}