.authView {
    background: linear-gradient(35deg, #8FA7FD, #C7C1EC, #E99EC6, #FDFDFD);
    height: 100vh;
}

.authView h1 {
    font-size: 20px;
    font-weight: 400;
    color: #F5F5F5;
    font-family: "Lilita One", sans-serif;
}

.authView a {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border-radius: 10px;
    background-color: #6C60D2;
    width: 300px;
    font-size: 17x;
    font-weight: 400;
    color: #F5F5F5;
    font-family: "Lilita One", sans-serif;
}
