<section class="register-container register-container-pink d-flex flex-column justify-content-center align-items-center p-4">
    <div class="conteneur">
        <h1 class="mb-5 text-center">Inscription</h1>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <!-- Formulaire de d'inscription -->
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

            <!-- Champs email -->
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName=email
                [class.is-invalid]="isSubmitted && registerForm.controls['email'].invalid">
            <div *ngIf="isSubmitted && registerForm.controls['email'].invalid" class="invalid-feedback">
                <small *ngIf="hasError('email', 'required')">L'email est requis.</small>
                <small *ngIf="hasError('email', 'email')">L'email n'est pas valide.</small>
            </div>

            <!-- Champs mot de passe -->
            <label class="mt-3" for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" formControlName=password
                [class.is-invalid]="isSubmitted && registerForm.controls['password'].invalid">
            <div class="form-pwd">
                6 caractères minimum, 1 chiffre
            </div>
            <div *ngIf="isSubmitted && registerForm.controls['password'].invalid" class="invalid-feedback">
                <small *ngIf="hasError('password', 'required')">Le mot de passe est requis.</small>
                <small *ngIf="hasError('password', 'minlength')">Le mot de passe doit contenir au moins 6
                    caractères.</small><br>
                <small *ngIf="hasError('password', 'pattern')">Le mot de passe doit contenir au moins un
                    chiffre.</small>
            </div>

            <!-- Champs de role -->
            <label for="roles">Profil</label>
            <select id="roles" class="form-select" formControlName=roles [class.is-invalid]="isSubmitted && registerForm.controls['roles'].invalid">
                <option disabled selected value="">Choisissez votre profil</option>
                <option [ngValue]="['ROLE_CLIENT']">Adoptant</option>
                <option [ngValue]="['ROLE_ELEVEUR']">Éleveur ou association</option>
            </select>
            <div *ngIf="isSubmitted && registerForm.controls['roles'].invalid" class="invalid-feedback">
                <small>Ce champs est requis</small>
            </div>

            <!-- Bouton suivant -->
            <button type="submit" class="btn-premier w-100 mt-5">S'inscrire</button>
        </form>

        <p class="text-center mt-4 lien-connexion">Vous avez déjà un compte ? <br><span routerLink="/login" class="fw-bold text-decoration-underline">Connectez-vous</span></p>

    </div>
</section>