.register-container {
    background-color: #EF9BC9;
    height: 100vh;
}

.register-container-2 {
    background-color: #B19FFF;
    height: 100vh;
}

.conteneur {
    width: 320px;
}

.register-container h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
    color: #FEFEFE;
}

.register-container label {
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: #F5F5F5;
}

.register-container input
.register-container select
.register-container option {
    background-color: #F5F5F5CC;
}

.form-pwd {
    font-size: 14px;
    color: #FEFEFE;
}

.progress-custom {
    height: 5px;
    background-color: #DDEDFA;
}

.btn-back {
    background-color: transparent;
    border: 1px solid #F5F5F5;
    font-family: "Lilita One", sans-serif;
    font-size: 17px;
    border-radius: 15px;
    padding: 10px 18px;
    color: #FEFEFE;
    transition: all 0.2s ease;
}

.btn-back:hover {
    background-color: #F5F5F5;
    color: #574bcf;
}
