/* Style container pages register */
/* ------------------------------ */
.register-container {
    height: 100vh;
}

.register-container-pink {
    background-color: #EF9BC9;
}

.register-container-violet {
    background-color: #B19FFF;
}

.register-container-lightblue {
    background-color: #92A8FF;
}

.conteneur {
    width: 320px;
}


/* Style progress bar */
/* ----------- */
.progress {
    height: 5px;
    background-color: #DDEDFA;
}

.progress-bar {
    background-color: #B6DEFF;
}

.progress-bar-step1 {
    width: 0%;
}

.progress-bar-step2 {
    width: 25%;
}

.progress-bar-step3 {
    width: 50%;
}

.progress-bar-step4 {
    width: 75%;
}

.progress-bar-step5 {
    width: 100%;
}

.progress-icon {
    position: absolute;
    top: -12px;
    transform: translateX(-50%);
}

.progress-icon-step1 {
    left: 0%;
}

.progress-icon-step2 {
    left: 25%;
}

.progress-icon-step3 {
    left: 50%;
}

.progress-icon-step4 {
    left: 75%;
}

.progress-icon-step5 {
    left: 100%;
}

/* Style Titer h1 */
/* -------------- */
.register-container h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
    color: #FEFEFE;
}

/* Style Formulaire */
/* ---------------- */
.register-container label {
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    color: #F5F5F5;
}

.register-container input .register-container select .register-container option {
    background-color: #F5F5F5CC;
}

.register-container select,
.form-check-label {
    font-size: 14px !important;
    font-family: "Poppins", sans-serif !important;
}

label span {
    color: red;
    font-size: 15px;
}

.form-pwd {
    font-size: 14px;
    color: #FEFEFE;
}

.div-engagement {
    border: 1px solid #FEFEFE;
    border-radius: 20px;
}

/* Style Boutons Précédent */
/* ----------------------- */
.btn-back {
    background-color: transparent;
    border: 1px solid #F5F5F5;
    font-family: "Lilita One", sans-serif;
    font-size: 17px;
    border-radius: 15px;
    padding: 10px 18px;
    color: #FEFEFE;
    transition: all 0.2s ease;
}

.btn-back:hover {
    background-color: #F5F5F5;
    color: #574bcf;
}