<nav class="container fixed-bottom">
    <ul class="d-flex justify-content-evenly align-items-center w-100 h-100 m-0 px-0 py-2">
        @if(!isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/home">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <p class="m-0">Accueil</p>
                </a>
            </li>
        }
        @if(isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/breeder/dashboard">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <p class="m-0">Accueil</p>
                </a>
            </li>
        }
        @if(isClient()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/matchs">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <p class="m-0">Matchs</p>
                </a>
            </li>
        }
        @if(isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/breeder/animalsList">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-paw"></i>
                    </div>
                    <p class="m-0">Animaux</p>
                </a>
            </li>
        }
        @if(isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/breeder/demandeAdoption">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-bone"></i>
                    </div>
                    <p class="m-0">Adoptions</p>
                </a>
            </li>
        }
        @if(!isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/breederList">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-address-book"></i>
                    </div>
                    <p class="m-0">Éleveurs</p>
                </a>
            </li>
        }
        @if(isClient() || isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" href="#" routerLink="/todo">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <p class="m-0">Contact</p>
                </a>
            </li>
        }
        @if(!isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/blog">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-book-open"></i>
                    </div>
                    <p class="m-0">Conseils</p>
                </a>
            </li>
        }
        @if(isBreeder()) {
            <li class="list-unstyled">
                <a class="d-flex flex-column align-items-center justify-content-center" href="#" routerLink="/todo">
                    <div class="bg-i rounded-10 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                    <p class="m-0">RDV</p>
                </a>
            </li>
        }
    </ul>
</nav>
