nav {
    font-family: "Poppins", sans-serif;
    background-color: #D9D9D9;
    height: 70px;
    width: 90%;
    margin: 10px auto;
    border-radius: 50px;
    opacity: 80%;
}

nav ul li a {
    color: black;
}

.bg-i {
    background-color: #EBEBEB;
    width: 34px;
    height: 34px;
    transition: color 0.2s ease;
}

nav ul li a:hover .bg-i {
  color: #6C60D2;
}

nav ul li a i {
    font-size: 18px;
}

nav ul li a p {
    font-size: 12px;
    font-weight: 600;
}