/* Section liste associations / eleveurs */
.breeder-list h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
}

.breeder-list h2 {
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
}

.breeder-picture {
    border: 3px solid #92A8FF;
    object-fit: cover;
    width: 75px;
    height: 75px;
}


.bg-grey {
    background-color: #EBEBEB99;
}
