<app-header></app-header>

<app-navbar></app-navbar>

<!-- BARRE DE RECHERCHE + BOUTON FILTRE -->
<section class="pb-4 recherche">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between gap-3">
                <div class="input-group flex-grow-1">
                    <span class="input-recherche input-group-text rounded-10" id="rechercher"><i
                            class="fas fa-search"></i></span>
                    <input type="text" class="input-recherche form-control rounded-10" aria-label="rechercher"
                        aria-describedby="rechercher" />
                </div>
                <div class="filter-btn rounded-10 d-flex justify-content-center align-items-center flex-shrink-0">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- LISTE DES ASSOCIATIONS / ELEVEURS -->
<section class="breeder-list">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="container-liste p-3 rounded-10">
                    <div class="row">
                        <h1>Les copains Poilus</h1>
                        <div class="col-6">
                            <span class="badge text-bg-primary">Elevage Familiale 🐣</span><br>
                            <span class="badge text-bg-primary">Sauvetage ❤️</span><br>
                            <span class="badge text-bg-primary">Chien et chats 🐕</span><br>
                            <span class="badge text-bg-primary">Suivi adoption 📝</span><br>
                        </div>
                        <div class="col-6">
                            <h2>Les coups de coeurs</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-end my-3">
                <a routerLink="breederDetails" class="btn-premier">En savoir plus</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-liste p-3 rounded-10">
                    <div class="row">
                        <h1>Les copains Poilus</h1>
                        <div class="col-6">
                            <span class="badge text-bg-primary">Elevage Familiale 🐣</span><br>
                            <span class="badge text-bg-primary">Sauvetage ❤️</span><br>
                            <span class="badge text-bg-primary">Chien et chats 🐕</span><br>
                            <span class="badge text-bg-primary">Suivi adoption 📝</span><br>
                        </div>
                        <div class="col-6">
                            <h2>Les coups de coeurs</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-end my-3">
                <a href="#" class="btn-premier">En savoir plus</a>
            </div>
        </div>
    </div>
</section>