<h1>Connexion</h1>

<!-- Formulaire de connexion -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Message d'erreur -->
    @if(errorMessage) {
        <div class="alert alert-danger mb-4">
            {{ errorMessage }}
        </div>
    }
    <!-- Champs Email -->
    <label for="email">Email</label>
    <input id="email" formControlName="username" class="form-control" [class.is-invalid]="isSubmitted && loginForm.controls['username'].invalid">
        @if(isSubmitted && loginForm.controls['username'].invalid) {
            <div class="invalid-feedback">
                <small *ngIf="hasError('username', 'required')">L'email est requis.</small>
                <small *ngIf="hasError('username', 'email')">L'email n'est pas valide.</small>
            </div>
        }
    <!-- Champs Mot de passe -->
    <label for="password">Mot de passe</label>
    <input id="password" type="password" formControlName="password" class="form-control" [class.is-invalid]="isSubmitted && loginForm.controls['password'].invalid">
    @if(isSubmitted && loginForm.controls['password'].invalid) {
        <div class="invalid-feedback">
            <small>Le mot de passe est requis</small>
        </div>
    }
    <!-- Bouton valider -->
    <button class="btn-custom" type="submit">Login</button>
</form>