/* CSS général de la page */
h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
}

h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
}

h1 span {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #EF9BC9;
    border-radius: 12px;
    padding: 8px 14px;
    color: #F5F5F5;
}


/* Section liste des matchs */
.menu-btn {
    width: 45px;
    height: 45px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #333;
    border: none;
}

button.menu-btn::after {
    display: none !important;
}

.dropdown-menu {
    min-width: auto;
}

.icon-btn {
    width: 45px;
    height: 45px;
    background-color: #F5F5F5;
    border-radius: 50%;
    font-size: 20px;
}

.icon-btn-eye:hover i,
.icon-btn-paw:hover i {
    color: #6C60D2;
}

.icon-btn-cross:hover i {
    color: red;
}

.animal-img {
    height: 175px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .animal-img {
        height: 400px;
    }
}