<app-header></app-header>

<app-navbar></app-navbar>

<section class="matchs-liste">
    <div class="container">
        <div class="row">
            <h1 class="mb-4">Tes Matchs&nbsp;&nbsp;<span>{{ matchs.length }}</span></h1>

            @for (match of matchs; track $index) {
                <div class="col-6 mb-4">
                    <div class="position-relative">
                        <img [src]="environment.uploadUrl + 'animals/' + match.animal.animalImage" alt="Photo de l'animal" class="animal-img rounded-10 mb-2">


                        <div ngbDropdown class="position-absolute bottom-0 end-0 m-3" placement="top-end">
                            <button type="button" id="dropdownMenu" class="rounded-circle d-flex justify-content-center align-items-center menu-btn" ngbDropdownToggle>
                                <i class="fas fa-bars" style="color: #7189FF;"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                                <div class="d-flex align-items-center gap-3 px-2">
                                    <button [routerLink]="(['/animals', match.animal.id])" ngbDropdownItem class="icon-btn icon-btn-eye d-flex justify-content-center align-items-center">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button (click)="sendAdoptionRequest(match.animal.id, match.animal.nom)" ngbDropdownItem class="icon-btn icon-btn-paw d-flex flex-column justify-content-center align-items-center">
                                        <i class="fas fa-paw"></i>
                                    </button>
                                    <button (click)="confirmDelete(match.id, match.animal.nom)" ngbDropdownItem class="icon-btn icon-btn-cross d-flex flex-column justify-content-center align-items-center">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>{{ match.animal.nom }}</h2>
                </div>
            }
        </div>
    </div>
</section>