<!-- BARRE DE RECHERCHE + BOUTON FILTRE -->
<section class="recherche">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between gap-3">
                <div class="input-group flex-grow-1">
                    <span class="input-recherche input-group-text rounded-10" id="rechercher"><i
                            class="fas fa-search"></i></span>
                    <input type="text" class="input-recherche form-control rounded-10" aria-label="rechercher"
                        aria-describedby="rechercher" placeholder="Rechercher un nom..." />
                </div>
                <div class="filter-btn rounded-10 d-flex justify-content-center align-items-center flex-shrink-0">
                    <i class="fa-solid fa-sliders"></i>
                </div>
            </div>
        </div>
    </div>
</section>